.me{font-size: 5opx;
    font-family: monospace;
    color: purple;}
    
    .butt{background-color: blue;
    font-family: sans-serif;
    box-sizing: 60px;
    }
    
    .mine{font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100px;
    font-style: italic;
    color:darkorange;}